@font-face {
  font-family: 'MasonChronicles.ttf';
  src: url('MasonChronicles.woff') format('woff'),
       url('MasonChronicles.ttf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




